In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\danieles\appdata\local\programs\python\python313\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\danieles\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.2.5)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\danieles\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\danieles\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\danieles\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\danieles\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install couchdb

Requirement already satisfied: couchdb in c:\users\danieles\appdata\local\programs\python\python313\lib\site-packages (1.2)
Note: you may need to restart the kernel to use updated packages.

In [1]:
# Arhcivo de csv

In [2]:
import pandas as pd
df_csv = pd.read_csv('fighter_stats.csv')
df_csv.head()

,name,wins,losses,height,weight,reach,stance,age,SLpM,sig_str_acc,SApM,str_def,td_avg,td_acc,td_def,sub_avg
0,Amanda Ribas,12.0,5.0,160.02,56.70,167.64,Orthodox,30.0,4.63,0.40,3.40,0.61,2.07,0.51,0.85,0.7
1,Rose Namajunas,13.0,6.0,165.10,56.70,165.10,Orthodox,31.0,3.69,0.41,3.51,0.63,1.38,0.47,0.59,0.5
2,Karl Williams,10.0,1.0,190.50,106.59,200.66,Orthodox,34.0,2.87,0.52,1.70,0.60,4.75,0.50,1.00,0.2
3,Justin Tafa,7.0,4.0,182.88,119.75,187.96,Southpaw,30.0,4.09,0.54,5.02,0.47,0.00,0.00,0.50,0.0
4,Edmen Shahbazyan,13.0,4.0,187.96,83.91,190.50,Orthodox,26.0,3.60,0.52,4.09,0.45,2.24,0.38,0.63,0.6

In [3]:
#cuantos clomunas hay

In [4]:
df_csv.shape

(2479, 16)

In [5]:
#verificamos cuantos valores estan nulos
print("CSV:")
df_csv.info()

CSV:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2479 entries, 0 to 2478
Data columns (total 16 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         2478 non-null   object
 1   wins         2478 non-null   float64
 2   losses       2478 non-null   float64
 3   height       2478 non-null   float64
 4   weight       2478 non-null   float64
 5   reach        1823 non-null   float64
 6   stance       2401 non-null   object
 7   age          2318 non-null   float64
 8   SLpM         2478 non-null   float64
 9   sig_str_acc  2478 non-null   float64
 10  SApM         2478 non-null   float64
 11  str_def      2478 non-null   float64
 12  td_avg       2478 non-null   float64
 13  td_acc       2478 non-null   float64
 14  td_def       2478 non-null   float64
 15  sub_avg      2478 non-null   float64
dtypes: float64(14), object(2)
memory usage: 310.0+ KB

In [6]:
df_csv.isna().sum()

name             1
wins             1
losses           1
height           1
weight           1
reach          656
stance          78
age            161
SLpM             1
sig_str_acc      1
SApM             1
str_def          1
td_avg           1
td_acc           1
td_def           1
sub_avg          1
dtype: int64

In [7]:
#coreccion de datos en CSV

In [8]:
# Rellenar valores de texto con valores estándar
df_csv['name'] = df_csv['name'].fillna('Unknown')
df_csv['stance'] = df_csv['stance'].fillna(df_csv['stance'].mode()[0])

# Rellenar valores numéricos con la media de su columna
num_cols = ['wins', 'losses', 'height', 'weight', 'reach', 'age',
            'SLpM', 'sig_str_acc', 'SApM', 'str_def',
            'td_avg', 'td_acc', 'td_def', 'sub_avg']

for col in num_cols:
    df_csv[col] = df_csv[col].fillna(df_csv[col].mean())

In [9]:
#revisamos por ulti ma vez
print(df_csv.isnull().sum())

name           0
wins           0
losses         0
height         0
weight         0
reach          0
stance         0
age            0
SLpM           0
sig_str_acc    0
SApM           0
str_def        0
td_avg         0
td_acc         0
td_def         0
sub_avg        0
dtype: int64

In [10]:
#pasamos el archivo de csv a JSON para q mas facilidad en la bae de datos

In [11]:
df_csv.to_json("Datos_UFC_Limpios.json", orient="records", indent=3)

In [12]:
#Pasar una base de datos no relacional

In [13]:
#nos conectamos con nuestars credenciales ya antes

In [14]:
import couchdb

# Reemplaza con tus datos
user = 'danny'
password = '12345'
url = f'http://{user}:{password}@127.0.0.1:5984/'

# Conexión
couch = couchdb.Server(url)

In [15]:
#creamos una base de datos

In [17]:
db_name = 'datos_limpios_todo'

if db_name in couch:
    db = couch[db_name]
else:
    db = couch.create(db_name)

In [18]:
#subimos los dicumentos

In [19]:
# Subir CSV
for _, row in df_csv.iterrows():
    doc = row.to_dict()
    db.save(doc)